<div class="list-frame">
  <div class="list-group-item col-md-5 col-xs-3 col-xs-offset-2" id="list-detail">
    <a href="#detail/{{_id}}/">{{name}}</a>
    <div class="detail-date">07/23/16 4:53pm EST</div>
  </div>
</div>
