<div class="form-frame col-md-4 col-xs-6">
  <div class="well">
    <h3><span class="icon glyphicon glyphicon-share"></span> Add Your Blog...</h3>
    <div class="form-group">
      <label for="name" id="label-text">Blog name</label>
      <input type="text" class="form-control" id="name" placeholder="Blog Name">
    </div>

    <div class="form-group">
      <label for="url" id="label-text">Picture URL</label>
      <input type="text" class="form-control" id="url" placeholder="http://...">
    </div>

    <input type="submit" class="btn btn-success" value="Click To Post" />
  </div>
</div>
