<div class="col-md-3 col-xs-10">
  <div class="well">
    <h3><span class="icon glyphicon glyphicon-bookmark"></span> Bookmark Web Address...</h3>
    <div class="form-group">
      <label for="title" id="label-text">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Web Address Name">
    </div>

    <div class="form-group">
      <label for="url" id="label-text">Web Address</label>
      <input type="text" class="form-control" id="url" placeholder="http://...">
    </div>

    <div class="form-group">
      <label for="tag" id="label-text">Tag</label>
      <input type="text" class="form-control" id="tag" placeholder="Tag Name">
    </div>

    <input type="submit" class="btn btn-warning" value="Click To Save" />
  </div>
</div>
