<div>
  <div class="col-md-3 col-xs-4 col-xs-offset-1 list-detail">
    <a href="#detail/{{_id}}/"><h5>{{title}} : </h5> {{url}}</a>
    <div class="tag-list"><span class="icon glyphicon glyphicon-tag"></span> | tag: {{tag}}</div>
  </div>
</div>
