<div class="list-frame">
  <div class="col-md-3 col-xs-4 col-xs-offset-1 list-detail">
    <h3><span class="icon glyphicon glyphicon-tags"></span> Tags</h3>
      <a href="#detail/{{_id}}/">{{tag}}</a>
  </div>
</div>
