<div class="well post-frame col-md-3">
  <h3><span class="icon glyphicon glyphicon-pencil"></span> Post A Blog...</h3>
  <div class="form-group">
    <label for=""></label>
    <input class="form-control" type="text" name="title" id="title" placeholder="Enter post title..." />
  </div>
  <div class="form-group">
    <label for=""></label>
    <textarea class="form-control" rows="4" cols="50" id="post" placeholder="Put your comments here..."></textarea>
  </div>
  <button type='submit' class='btn btn-sm btn-danger button'>Create Post</button>
</div>
