<div class="well col-md-3">
    <h3><span class="icon glyphicon glyphicon-user"></span> Create New Contact:</h3>
    <div class="form-group">
    <label for="firstname">First Name:</label>
    <input class="input" type="text" name="firstname" id='firstname' placeholder="First name" ></input>
    </div>
    <div class="form-group">
    <label for="lastname">Last Name:</label>
    <input class="input" type="text" name="lastname" id='lastname' placeholder="Last name" ></input>
    </div>
    <div class="form-group">
    <label for="address">Address:</label>
    <input class="input" type="text" name="address" id='address' placeholder="Street address" ></input>
    </div>
    <div class="form-group">
    <label for="city"></label>
    <input class="input" type="text" name="city" id='city' placeholder="City" ></input>
    </div>
    <div class="form-group">
    <label for="state"></label>
    <input class="input" type="text" name="state" id='state' placeholder="State" ></input>
    </div>
    <div class="form-group">
    <label for="zip"></label>
    <input class="input" type="text" name="zip" id='zip' placeholder="Zip Code" ></input>
    </div>
    <div class="form-group">
    <label for="email">Email:</label>
    <input class="input" type="email" name="email" id='email' placeholder="Email address" ></input>
    </div>
    <button type='submit' class='btn btn-sm btn-info button'>Create Contact</button>
</div>
